@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        text-decoration: underline;
    }
}

@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/orange";
@import url("https://fonts.cdnfonts.com/css/menlo");
@import url("https://fonts.cdnfonts.com/css/monaco");

body {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    transition: none !important;
}

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;

    font-family: Poppins, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 14px;
    overflow: hidden;
}
#root {
    overflow: hidden;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: 100%;
}
