.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: 0.25s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 40px;
}

.lang {
    margin-left: 20px;
}

.collapsedBtn {
    position: absolute;
    right: calc(var(--font-line-l) * -1);
    bottom: var(--font-line-l);
}

.items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .lang {
            margin-left: 0;
        }
    }
}
