.ArticleCode {
    border-radius: 5px;
    overflow: hidden;
    margin-top: 24px;
    background: #fbfdff !important;
    box-shadow: 0 0 0 2px #00a1ff;
    padding-top: 16px;
    padding-bottom: 16px;
}

.ArticleTitle + .ArticleCode {
    margin-top: 8px;
}
