.Article {
    min-height: 100%;
}

.avatar {
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-top: 20px;
}

.articleContainer {
    padding: 16px 20px;
    border-radius: 4px;
}

.articleInfo {
    display: inline-flex;
    gap: 5px;
    align-content: center;
    margin-right: 10px;
}

.articleInfo svg {
    margin-top: 2px;
}
