.app-light-theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #080850;
    --primary-color: #0232c2;
    --secondary-color: #0452ff;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;

    // Skeleton
    --skeleton-bg-gradient-color: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
}
